# Follow the symbolic links
Options +FollowSymlinks 

# Activation of the Rewrite Rule for Apache
RewriteEngine On

## ----------------------------
##	Rewrite url for controller
## -----------------------------
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^{.*}$ index.php?controller=$1 [NC,QSA]
