<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Get Controller">
                    <match url="(.*)" />
                    <action type="Rewrite" url="index.php?controller={R:1}" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                </rule>
                <rule name="Views no rewrinting">
                    <match url="views/([_0-9a-z-]+)" />
                    <action type="None" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/views/error-404.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
